{% extends "layout.html" %}

{% block content %}

<html>
    <strong>
            <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}"/>
    </strong>
    <body>
        <!--  id="cpu_user: recebe dados de psmonitor.js por parametro. -->
        <div class="center-div">
            <div class="inner-div" id="cpu_user" style="height:400px;width:800px; "></div>
        </div>

        <!-- scripts -->
        <script type="text/javascript" src="static/js/jquery-latest-1.10.2/jquery-latest.min.js" ></script>
        <script type="text/javascript" src="static/js/jqplot.1.0.8/jquery.jqplot.js"></script>
        <script type="text/javascript" src="static/js/jqplot.1.0.8/plugins/jqplot.json2.js"></script>
        <script type="text/javascript" src="static/js/jqplot.1.0.8/plugins/jqplot.dateAxisRenderer.js"></script>
        <script type="text/javascript" src="static/js/jqplot.1.0.8/plugins/jqplot.highlighter.min.js"></script>
        <script type="text/javascript" src="static/js/jqplot.1.0.8/plugins/jqplot.cursor.js"></script>
        <script type="text/javascript" src="static/js/jqplot.1.0.8/plugins/jqplot.canvasOverlay.js"></script>
        <!--[if lt IE 9]>
          <script language="javascript" type="text/javascript" src="static/js/jqplot.1.0.8/excanvas.js"></script>
        <![endif]-->
        <script type="text/javascript" src="static/js/psmonitor.js" />
    </body>
</html>

{% endblock %}
